#background{
    float: none;
    margin-left:auto;
    margin-right: auto;
    padding: 0;

    height: 500px;
    width: 100%;
    max-height: 600px;
    min-height: 200px;
    background-color: #a9ff89;
}

#player_items{
    position: absolute;
    height: 50px;
    width: 50px;
    background: url("http://2.bp.blogspot.com/-4RH6yfq_BVc/UXEIhkQcAtI/AAAAAAAAGOA/1FjtsdagIv0/s400/minecraft-pixel-art-batman.png"),center, no-repeat;
    background-size: 100%;
}

#role_player{
    position: absolute;
    transition: 0.1s;
    height: 50px;
    width: 50px;
}

#sword_player{
    position: absolute;
    height: 20px;
    width: 20px;

    float: none;
    margin-left:auto;
    margin-right: auto;
}

.obj{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: #1b1b1a;
}

.enemy{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: #489295;
    right: 1px;
    transition: 5s;
}