html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#ground{
    float: none;
    margin-left:auto;
    margin-right: auto;
    padding: 0;

    width: 600px;
    height: 400px;
    background-color: #9d9d9d;
    overflow: hidden;

    transition: 1s;
}

#ground:hover{
    float: none;
    margin-left:auto;
    margin-right: auto;
    padding: 0;

    width: 600px;
    height: 400px;
    background-color: #888888;

    transition: 1s;
}

#player{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffd4a8;
    left: 2px;
    top: 2px;
    border: 1px solid;
    transition: 1s;
}

#player:hover{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffd4a8;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid;

    transition: 1s;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    left: 1px;
    top: 1px;
}


.myform{
    float: none;
    margin-left:auto;
    margin-right: auto;
    padding: 0;
}

#block1{
    position: absolute;
    background-color: #111;
    height: 300px;
    width: 40px;
    left: 300px;
    top: 0px;
    border: 2px dotted #ff4f46;
}

#block2{
    position: absolute;
    background-color: #111;
    height: 20px;
    width: 40px;
    left: 300px;
    top: 370px;
    border: 2px dotted #ff4f46;
}

.container{
    font-family: Roboto;
}

#finish{
    position: absolute;
    background-color: #65ff53;
    height: 50px;
    width: 50px;
    right: 0px;
    border: 2px solid;
    transition: 1s;
}

#finish:hover{
    position: absolute;
    background-color: #b8ff6b;
    height: 50px;
    width: 50px;
    right: 0px;
    border: 2px solid;
    transition: 1s;
}

.btnOk{
    float: right;
}

.myFormDDL{
    width: 200px;
    height: 400px;
    float: right;
    position: fixed;
    right: 10px;
    z-index: 2;
}

.main-text{
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

.lName{
    font-size: 20px;
    font-weight: bold;
}

.pDescr{
    font-size: 15px;
}

.main-scr{
    text-decoration: underline;
    color: #9c8167;
    margin: 0;
    padding: 0;
}

.top{
    width: 100%;
    height: 1px;
    background-color: #333;
}
.bot{
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: 1px;
    background-color: #bdaf3e;

}
.left{
    width: 1px;
    position: absolute;
    height: 99%;
    background-color: #2bf101;
}
.right{
    position: absolute;
    height: 99%;
    width: 1px;
    background-color: #1c1796;
    right: 1px;
}