.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #000000;
    opacity: 0.5;
    color: #fff;
    transition: 1s;
    height: 30px;
    padding-top: 5px;
}
.footer:hover{
    background-color: #000000;
    opacity: 0.9;
    transition: 1s;
}

.navbar{
    color: #fff;
    transition: 1s;
}
.navbar:hover{
    background-color: #000000;
    opacity: 0.9;
    transition: 1s;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
    color: white;
    background: url(/frontend/web/img/fon1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.set-btn{
    text-align: center;
}
li{
    list-style-type: none;
}
.own-btn{
    height: 50px;
    width: 120px;
    color: #fff;
    border-radius: 10%;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.own-btn:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    border-radius: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s;
}

.hello{
    text-shadow: #000000 1px 0px, #000000 1px 1px, #000000 0px 1px, #000000 -1px 1px, #000000 -1px 0px, #000000 -1px -1px, #000000 0px -1px, #000000 1px -1px, #000000 0 0 3px, #000000 0 0 3px, #000000 0 0 3px, #000000 0 0 3px, #000000 0 0 3px, #000000 0 0 3px, #000000 0 0 3px, #000000 0 0 3px;
    font-size: 28px;
    color: rgba(255, 230, 198, 1);
}

.about-main{
    color: #ffe3e4;
    font-size: 16px;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.navbar-collapse> ul > li > a{
    color: #fff;
}
.navbar-collapse> ul > li > a:hover{
    transition: 0.2s;
    color: #0c0c0c;
}
/* CSS FOR PLAY */
#road{
    height: 10px;
    width: 100%;
    background-color: #fffec5;
    padding-left: 0;
}

#car{
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: #555555;
}

#end{
    height: 10px;
    width: 10px;
    left: 0px;
    position: absolute;
    background-color: #339422;
}

.text-block{
    background-color: rgba(36, 36, 36, 0.94);
}

#text-main{
    padding: 8px;
    font-size: 18px;
}

#text-inp{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

.grn{
    font-weight: bold;
    font-size: 19px;
    color: #00aa00;
}

.rd{
    font-weight: bold;
    font-size: 19px;
    color: red;
}

.btn-next{
    text-align: center;
    background-color: #57a94f;
    transition: 0.5s;
}
.btn-next:hover{
    background-color: #77dd63;
    color: #4b4b4b;
    transition: 1s;
}

/* CSS for POP UP*/
.modal-content{
    color: #1a1a1a;
}